.container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: bisque;
  }

  .containerAddpost{
    margin-right: 50px ;

  }

  .overFlowBox {
    margin: 50px 0;
    overflow-y: scroll;
    height: 500px;
    background-color: #ffb391;
    border-bottom: 1px solid #c6d2e4;
    border-radius: 10%;
    border: 5px solid hsl(216deg 2% 10%);
  }