.Post {
  border: 5px solid hsl(216deg 2% 10%);
  border-radius: 30px;
  width: 475px;
  margin: 20px 10px;
  background-color: #e9f9ffe6;
  padding: 15px;
}

.Post__image {
  width: 100%;
  margin-top: 15px;
}

.Post__title {
  float: left;
  font-size: medium;
}

.Post__delete {
  border: none;
  background: none;
  font-size: medium;

  padding: 0;
  float: right;

  cursor: pointer;
}
