.Post {
  border: 5px solid hsl(216deg 2% 10%);
  border-radius: 30px;
  width: 475px;
  margin: 20px 10px;
  background-color: #e9f9ffe6;
  padding: 15px;
  display: flex;
  position: relative;
  align-items: center;
}

.postActivity {
  text-align: left;
  font-size: xx-large;
  font-weight: 600;
  margin: 0px 0 5px 10px;
}

.PostDelete {
  border: none;
  background: none;
  font-size: medium;
  position: absolute;
  top:20px;
  right: 20px;
  font-weight: 700;

  padding: 0;
  float: right;

  cursor: pointer;
}

.EditPost {
  border: none;
  background: none;
  width: 15px;
  font-size: medium;
  position: absolute;
  top:23px;
  right: 40px;

  padding: 0;
  float: right;

  cursor: pointer;
}


.show-activity{
  width: 60px;
  height: 60px;
  margin: 0 40px;
}

.subContent{
  display: flex;
}

.titleContent{
  min-width: 90px;
  text-align: right;
  margin-right: 10px;
  font-weight: 600;
  
}