.topicBox {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box {
  /* width: 100%; */
  height: 100 px;
  padding: 10px;
  border: none;
}

.label{
  width: 30%;
}

.inputField {
  background-color: #ffbc9d;
  border-radius: 10%;
  margin: 100px 0;
  padding: 15px;
  width: auto;
  border: 5px solid hsl(216deg 2% 10%);
}


.inputField:focus {
  outline: none;
}

